.companyTextColor{
    color:#1A75BC;
}
.companyBackgroundColor{
    background-color: #1A75BC;
}
.companyTextFontWeight{
    font-weight: 900;
    font-size: 5em;
    margin-bottom: 4%;
}
.thankyou{
    font-size: 50px;
    font-weight: 900;
}